# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# Operating system
.DS_Store
Thumbs.db

# Raw and processed datasets
data/raw/**
data/processed/**

# Model artifacts
models/*.pkl
models/*.joblib
models/*.pickle

# Logs
*.log